@import "./styles/colors";

*{
    box-sizing: border-box;
    color:white;
}

html,body{
    margin: 0;
    padding: 0;
}

.contenedor-pagina{
    background-color: $colorFondo;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor{
    max-width: 1024px;
}

.mostar-menu-movil{
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: scale(1) !important;
}

.mostar-menu-desktop{
    opacity: 1 !important;
    pointer-events: auto !important;
}

header{
    position: relative;
    min-height: 10px;
    .item-menu{
        background-color: $colorContenedores;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        svg{
            stroke-width: 2px;
            width: 30px;
            height: 30px;
        }
    }

    .menu-desktop{
        background-color: $colorContenedores;
        width: auto;
        height: 80px;
        border-radius: 10px;
        position: absolute;
        top: 16px;
        left: 10px;
        z-index: 0;
        opacity: 1;
        padding-right: 20px;
        padding-left: 20px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s ease-out;
        .contenedor-menu-items-desktop{
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            .contenedor-x-menu-desktop{
                cursor: pointer;
                svg{
                    width: 50px;
                    height: 50px;
                    &:hover{
                        stroke:$resaltar;
                    }
                }
            }
            .lista-items-menu{
                width: auto;
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                li{
                    margin-left: 50px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: #FFF;
                        transition: transform .5s ease-out;
                        svg{
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 30px;
                            height: 30px;
                        }
                        &:hover{
                            color:$resaltar;
                        }
                        &:hover svg{
                            stroke:$resaltar;
                        }
                    }
                }
            }
        }
    }

    .menu-movil{
        background-color: $colorFondoConTransparencia;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        padding: 40px;
        opacity: 0;
        pointer-events: none;
        transform: scale(.9);
        transition: opacity .5s ease-out,transform .5s ease-out;

        .contenedor-menu-items-movil{
            background-color: $colorFondo;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .contenedor-x-menu-movil{
                cursor: pointer;
                svg{
                    margin-left: 10px;
                    width: 50px;
                    height: 50px;
                    &:hover{
                        stroke:$resaltar;
                    }
                }
            }

            .redes-sociales-menu{
                svg{
                    width: 40px;
                    height: 40px;
                    &:hover{
                        fill:$resaltar;
                    }
                }
            }
            
        }
        h3{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 30px;
        }
        .lista-items-menu{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                width: 30%;
                margin-bottom: 30px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: #FFF;
                    transition: transform .5s ease-out;
                    svg{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 40px;
                        height: 40px;
                    }
                    &:hover{
                        color:$resaltar;
                    }
                    &:hover svg{
                        stroke:$resaltar;
                    }
                }
            }
        }
    }

   
}

main{
    background-color: red;
    min-height: 200px;
}

.footerPage{
    width: 100%;
    min-height: 80px;
    background-color: $colorContenedores;

    .link-icon-footer{
        display: inline-block;
        margin-right: 10px;

        svg{
            width: 25px;
            height: 25px;
        }
    }
}
