* {
  box-sizing: border-box;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

.contenedor-pagina {
  background-color: #1A1A24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor {
  max-width: 1024px;
}

.mostar-menu-movil {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: scale(1) !important;
}

.mostar-menu-desktop {
  opacity: 1 !important;
  pointer-events: auto !important;
}

header {
  position: relative;
  min-height: 10px;
}
header .item-menu {
  background-color: #242333;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
header .item-menu svg {
  stroke-width: 2px;
  width: 30px;
  height: 30px;
}
header .menu-desktop {
  background-color: #242333;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}
header .menu-desktop .contenedor-menu-items-desktop {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
header .menu-desktop .contenedor-menu-items-desktop .lista-items-menu {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
header .menu-desktop .contenedor-menu-items-desktop .lista-items-menu li {
  margin-left: 50px;
  text-align: center;
}
header .menu-desktop .contenedor-menu-items-desktop .lista-items-menu li a {
  text-decoration: none;
  color: #FFF;
  transition: transform 0.5s ease-out;
}
header .menu-desktop .contenedor-menu-items-desktop .lista-items-menu li a svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 30px;
}
header .menu-desktop .contenedor-menu-items-desktop .lista-items-menu li a:hover {
  color: #FB5B5B;
}
header .menu-desktop .contenedor-menu-items-desktop .lista-items-menu li a:hover svg {
  stroke: #FB5B5B;
}
header .menu-movil {
  background-color: rgba(42, 42, 54, 0.7450980392);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 40px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
header .menu-movil .contenedor-menu-items-movil {
  background-color: #1A1A24;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .menu-movil .contenedor-menu-items-movil .contenedor-x-menu-movil {
  cursor: pointer;
}
header .menu-movil .contenedor-menu-items-movil .contenedor-x-menu-movil svg {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
header .menu-movil .contenedor-menu-items-movil .contenedor-x-menu-movil svg:hover {
  stroke: #FB5B5B;
}
header .menu-movil .contenedor-menu-items-movil .redes-sociales-menu svg {
  width: 40px;
  height: 40px;
}
header .menu-movil .contenedor-menu-items-movil .redes-sociales-menu svg:hover {
  fill: #FB5B5B;
}
header .menu-movil h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}
header .menu-movil .lista-items-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .menu-movil .lista-items-menu li {
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
}
header .menu-movil .lista-items-menu li a {
  text-decoration: none;
  color: #FFF;
  transition: transform 0.5s ease-out;
}
header .menu-movil .lista-items-menu li a svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}
header .menu-movil .lista-items-menu li a:hover {
  color: #FB5B5B;
}
header .menu-movil .lista-items-menu li a:hover svg {
  stroke: #FB5B5B;
}

main {
  background-color: red;
  min-height: 200px;
}

.footerPage {
  width: 100%;
  min-height: 80px;
  background-color: #242333;
}
.footerPage .link-icon-footer {
  display: inline-block;
  margin-right: 10px;
}
.footerPage .link-icon-footer svg {
  width: 25px;
  height: 25px;
}

/*# sourceMappingURL=index.css.map */
